html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .cmp_o2pdp_breadcrumb
       {
          margin-top:10px;
<<<<<<< HEAD
          margin-left:160px;
       }

 .cmp_o2pdp_breadcrumb a
      {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #86939E;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
  .cmp_o2pdp_breadcrumb a:hover
      {
      color:#86939E;
      }
  
  .cmp_o2pdp_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
  }
  
  
  .cmp_o2pdp_left-column {
    margin-top:-30px;
    width: 50%;
    position: relative;
  
  }
  
  .cmp_o2pdp_right-column {
    width: 50%;
    margin-top: 10px;
    position: relative;
  }
  
  .cmp_o2pdp_left-column img {
    width: 550px;
    height:550px;
    margin-top: 15px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius:10px;
    transition: all 0.3s ease;
  }

  .cmp_o2pdp_left-column img.active {
    opacity: 1;
  }
  
  
  .cmp_o2pdp_product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .cmp_o2pdp_product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .cmp_o2pdp_product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    background-color:none;
    letter-spacing: -2px;
  }
  .cmp_o2pdp_product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  .cmp_o2pdp_product-about{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .cmp_o2pdp_product-about h3{
    font-weight: 500;
    font-size: 20px;
    color: #43484D;
    background-color:none;
   
  }
  .cmp_o2pdp_product-about li{
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }


  .cmp_o2pdp_product-price {
    margin-top: -85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .cmp_o2pdp_total-price {
    font-size: 30px;
    color: #fff;
  
  }
  
  .cmp_o2pdp_total-price .fa-rupee {
    font-size: 90%;
  }

   #cmp_o2pdp_price
   {
     color: #43484D;
     font-size: 23px;
     font-weight:bold;
   }

  
  .cmp_o2pdp_quantity {
      display: flex;
      justify-content: center;
      padding: 90px 30px;
  }
  
  .cmp_o2pdp_quantity button
  {
      width: 40px;
      height: 40px;
      border: 1px transparent;
      color: black;
      border-radius: 0;
      background: transparent;
  
  }
  
  .cmp_o2pdp_quantity input {
      border: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      text-align: center;
      width: 50px;
      font-size: 20px;
      color: #000;
      font-weight: 300;
  }

  .cmp_o2pdp_cart-btn {
    display: inline-block;
    background-color: #3a3b3c;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    transition: all .5s;
  }
  .cmp_o2pdp_cart-btn:hover {
    background-color: #64af3d;
  }
  
  
  
  @media (max-width: 940px) {
    .cmp_o2pdp_container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .cmp_o2pdp_left-column,
    .cmp_o2pdp_right-column {
      width: 100%;
    }
  
    .cmp_o2pdp_left-column img {
      width: 200px;
      height:150px;
      right:0;
      top: -130px;
      left: initial;
    }
  
   
  }
=======
          margin-left:130px;
       }

 .cmp_o2pdp_breadcrumb a
      {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #86939E;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
  .cmp_o2pdp_breadcrumb a:hover
      {
      color:#86939E;
      }
  
  .cmp_o2pdp_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
  }
  
  
  .cmp_o2pdp_left-column {
    margin-top:-30px;
    width: 50%;
    position: relative;
  
  }
  
  .cmp_o2pdp_right-column {
    width: 50%;
    margin-top: 10px;
    position: relative;
  }
  
  .cmp_o2pdp_left-column img {
    width: 550px;
    height:550px;
    margin-top: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius:10px;
    transition: all 0.3s ease;
  }

  .cmp_o2pdp_left-column img.active {
    opacity: 1;
  }
  
  
  .cmp_o2pdp_product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .cmp_o2pdp_product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .cmp_o2pdp_product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    background-color:none;
    letter-spacing: -2px;
  }
  .cmp_o2pdp_product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  .cmp_o2pdp_product-about{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .cmp_o2pdp_product-about h3{
    font-weight: 500;
    font-size: 20px;
    color: #43484D;
    background-color:none;
   
  }
  .cmp_o2pdp_product-about li{
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }


  .cmp_o2pdp_product-price {
    margin-top: -85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .cmp_o2pdp_total-price {
    font-size: 30px;
    color: #fff;
  
  }
  
  .cmp_o2pdp_total-price .fa-rupee {
    font-size: 90%;
  }

   #cmp_o2pdp_price
   {
     color: #43484D;
     font-size: 23px;
     font-weight:bold;
   }

  
  .cmp_o2pdp_quantity {
      display: flex;
      justify-content: center;
      padding: 90px 30px;
  }
  
  .cmp_o2pdp_quantity button
  {
      width: 40px;
      height: 40px;
      border: 1px transparent;
      color: black;
      border-radius: 0;
      background: transparent;
  
  }
  
  .cmp_o2pdp_quantity input {
      border: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      text-align: center;
      width: 50px;
      font-size: 20px;
      color: #000;
      font-weight: 300;
  }

  .cmp_o2pdp_cart-btn {
    display: inline-block;
    background-color: #3a3b3c;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    transition: all .5s;
  }
  .cmp_o2pdp_cart-btn:hover {
    background-color: #64af3d;
  }
  
  .offer
  {
    margin-top:-60px;
    border: dashed 1px #E1E8EE;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #43484D;
    line-height: 24px;
  }
  
  @media (max-width: 940px) {
    .cmp_o2pdp_container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .cmp_o2pdp_left-column,
    .cmp_o2pdp_right-column {
      width: 100%;
    }
  
    .cmp_o2pdp_left-column img {
      width: 200px;
      height:150px;
      right:0;
      top: -130px;
      left: initial;
    }
  
   
  }

>>>>>>> branch 'master' of https://glcgitlab.southindia.cloudapp.azure.com/playground/Dec-2020/projects/aem/o2-store/O2Store_Project.git

  @media (max-width: 1200px) {
    .cmp_o2pdp_container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .cmp_o2pdp_left-column,
    .cmp_o2pdp_right-column {
      width: 100%;
    }
  
    .cmp_o2pdp_left-column img {
      width: 200px;
      height:150px;
      right:0;
      top: -100px;
      left: initial;
    }

    .cmp_o2pdp_breadcrumb
       {
          margin-top:10px;
          margin-left:20px;
       }
  }