
<sly data-sly-use.obj1="com.mindtree.O2Store_Project.core.models.AllCategoriesModel"/>
<sly data-sly-use.obj2="com.mindtree.O2Store_Project.core.models.AllPricesModel"/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call = "${clientlib.all @ categories='Plantsplp'}"/>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">


</head>

<body>
<div id="cat">
<div id="plantdropdown">
<p id="sidenav-textstyle-catgories1">Types of Plants</p>
<p id="all-unchecked">Go back to all filters</p>
<form name="Categories">
  <input type="checkbox" value="medicine" name="medicine"/><label> Medicinal Plants </label><br>
  <input type="checkbox" value="flowers" name="flowers"/><label> Flowering  Plants </label><br>
  <input type="checkbox" value="foilage" name="foilage"/><label> Foilage Plants </label><br>
</form>
</div>


<div id="pricedropdown">
<p id="sidenav-textstyle-catgories">Prices</p>
<p id="all-unchecked1">Go back to all filters</p>
<form name="Prices">
<input type="checkbox" value="100" name="Range1"/><label> Rs.300-700</label><br>
<input type="checkbox" value="400" name="Range2"/><label> Rs.701-1100</label><br>
<input type="checkbox" value="900" name="Range3"/><label> Rs.1101-1500</label><br>

</form>
</div>
</div>

	<div class="container">

        <div id="allData">
        <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj1.getAllPlants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                       src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>

		</div>
        </div>

<div id="medicinal">
    <h1>Medicinal</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj1.getMedicinalPlants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>

<div id="foilage">
        <h1>Foilage</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj1.getFoilagePlants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>

<div id="flowering">
    <h1>Flowering</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj1.getFloweringPlants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                       src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>
    <div id="RangeOne">
    <h1>Range 1</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj2.getRange1Plants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>
     <div id="RangeTwo">
    <h1>Range 2</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj2.getRange2Plants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>
     <div id="RangeThree">
    <h1>Range 3</h1>
     <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj2.getRange3Plants}" >
            ${item.getProductName}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/orchardTwo/plants/medicinal-plants/${item.getPlantName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>
                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" class="btn btn-primary">Quick Shop</button>
                            <button type="button" class="btn btn-primary" style="margin-left:15px;">Add to cart</button>

                    </div>
                </div>
            </div>


        </div>

    </div>
	</div>
</body>

</html>