<<<<<<< HEAD
.cmp-hello-world-sass {
    &:before {
        content: "\003e";

        display: inline-block;
        padding: 0 10px;
    }
}
=======
.cmp-hello-world-sass {
    &:before {
        content: "\003e";

        display: inline-block;
        padding: 0 10px;
    }
}
>>>>>>> branch 'master' of https://glcgitlab.southindia.cloudapp.azure.com/playground/Dec-2020/projects/aem/o2-store/O2Store_Project.git
